# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# visual studio files
*.opensdf
*.sdf
*.suo

# ignore the entier ./bin/ directory and all it's sub-directories.
bin/*